button {
  all: unset;
  font-weight: 500;
  color: var(--text-highlight);
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;

  &.btn-primary {
    transition: 0.2s ease-in-out;
    color: white;
    background-color: var(--brand-dark);

    &:hover,
    &:focus {
      background-color: var(--brand-mid);
    }
  }

  &.btn-secondary {
    margin-left: auto;
    border: 1px solid var(--text-highlight);

    &:hover,
    &:focus {
      color: var(--brand-dark);
      outline: .25rem solid var(--surface-secondary);
    }
  }
}
