#app {
  display: grid;
  grid-template-areas:
    "aside"
    "main";
  /* height: 100vh; */
}

main {
  grid-area: main;
  --pad: 1.5rem;
  margin-right: auto;
  overflow: auto;
  padding: var(--pad);
  & .main-container {
    max-width: 33rem;
  }

  & .back {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
  }
  & h1 {
    font: var(--heading2);
    margin-bottom: .5rem;
  }
}

aside {
  grid-area: aside;
  --padding-head: 1.5rem;
  --iw-size: 19.5rem;
  --ih-size: 14.25rem;

  background-color: var(--surface-secondary);
  padding: var(--padding-head);

  & .aside-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 31rem;

    & > img {
      width: var(--iw-size);
      height: var(--ih-size);
    }
  }
}

@media (width >= 80rem) {
  #app {
    display: grid;
    grid-template-columns: 51.25% 48.75%;
    height: 100vh;
    grid-template-areas:
      "main aside"
      "main aside";
  }
  aside {
    grid-area: aside;
    --padding-head: 4rem;
    --iw-size: 31rem;
    --ih-size: 23rem;

    & .desktop-only {
      display: initial;
    }

    & h2 {
      font: 600 2.5rem/1.25 var(--font-family);
      margin-bottom: 0.5rem;
      & span {
        color: var(--text-highlight);
      }
    }
  }

  main {
    grid-area: main;
    --pad: 4rem;
    margin-left: auto;
    & .back {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 1.5rem;
    }
    & h1 {
      font: var(--heading2);
      margin-bottom: 4rem;
    }
  }
}
